* {
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.header {
    padding: $space-md;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, .23);
}

.container {
    margin: 0;
    padding: 0;
}

.header__wrapper {
    height: $wrapper-small;
}

.header__logo {
    @include flex(flex-start, flex-start, 0);
    padding: 0;

    .header__logo--text {
        width: 40px;
    }
}

.header__tools {
    @include flex(space-between, center, 1);

    .header__tool {
        height: $space-xl;
    }

    .header__tool--btn {
        width: $space-xl;
        height: $space-xl;
        padding: 0;
    }

    .header__tool--avatar {
        width: $space-xl;
        height: $space-xl;
        border-radius: 50%;
        display: block;
    }

    .header__tool--username {
        font-family: $lato;

        .link {
            color: $primary-icons;
        }
    }

    .header__tool--logout,
    .header__tool--wishlist {
        fill: $primary-icons;
        width: $space-xl;
        height: $space-xl;
    }

    .header__tool--search {
        width: $space-xxl;
        height: $space-xxl;
        border: 2px solid $primary-icons;
        border-radius: 50%;
        padding: $space-sm;
    }

    .tool__wrap--search,
    .tool__wrap--search .header__tool--btn {
        width: $space-xxl;
        height: $space-xxl;
    }

    .tool__wrap--menu {
        .header__tool--btn {
            @include flex(space-between, flex-end, 0);
            flex-direction: column;
            width: $space-xxl;
        }

        .header__tool--menu {
            background: black;
            width: $space-xxl;
            height: 3px;
        }
    }
}
