.programs {
    $arrow-height: 50px;
    $arrow-xs: 145px;
    $arrow-sm: 255px;
    $arrow-md: 155px;
    $arrow-lg: 225px;
    $arrow-xl: 270px;
    $warning-font-size: 12px;
    margin-bottom: $space-big;

    &__boxes {
        @include flex (space-between, stretch, column);
        margin: $space-extra 0 $space-big;

        @include media-breakpoint-up (md) {
            flex-direction: row;
        }

        .boxes {
            &__box {
                @include flex (space-between, stretch, column);
                position: relative;
                padding: $space-xl;
                background: $light-box-bg;

                &:not(:last-child) {
                    margin-bottom: $space-extra;
                }

                @include media-breakpoint-up (md) {
                    &:not(:last-child) {
                        margin: 0 $space-xxl 0 0;
                    }
                }

                @include media-breakpoint-up (md) {
                    width: calc(50% - #{$space-lg});
                }

                &::before {
                    @include size (0);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    border-left: $arrow-xs solid transparent;
                    border-right: $arrow-xs solid transparent;
                    border-bottom: $arrow-height solid $light-box-bg;
                    transform: translate(-50%, -100%);
                    content: '';

                    @include media-breakpoint-up (sm) {
                        @include triangle-size ($arrow-sm, $arrow-height);
                    }

                    @include media-breakpoint-up (md) {
                        @include triangle-size ($arrow-md, $arrow-height);
                    }

                    @include media-breakpoint-up (lg) {
                        @include triangle-size ($arrow-lg, $arrow-height);
                    }

                    @include media-breakpoint-up (xl) {
                        @include triangle-size ($arrow-xl, $arrow-height);
                    }
                }

                .box {
                    &__title {
                        @include media-breakpoint-up (sm) {
                            padding-left: $space-xl;
                        }
                    }

                    &__list {
                        padding: $space-sm 0 0 $space-xl;

                        .list__item {
                            @include media-breakpoint-down (xs) {
                                display: none;
                            }
                        }
                    }

                    &__shop {
                        @include media-breakpoint-up (sm) {
                            padding: $space-lg;
                        }

                        .shop__interaction {
                            @include flex (center, center, column);
                            padding: $space-xl $space-sm;
                            color: $primary;
                            background: white;
                            text-align: center;

                            @include media-breakpoint-up (sm) {
                                align-items: stretch;
                                padding: $space-xl $space-lg;
                            }

                            .interaction__button {
                                margin: $space-xl 0 0;
                                padding: $space-md $space-xxl;
                                background: $primary;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    &__warning {
        font-size: $secondary-font-size;
        color: $secondary-text;
    }
}
