@import 'variables';
@import 'bootstrap/bootstrap';
@import 'base/*';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', $font-family-base;

    &.wf-active {
        font-family: $font-family-base;
    }
}

.icon {
    max-width: 100%;
    max-height: 100%;
}

@import 'components/*';
