// Colors

$primary: #ff6900;
$secondary-light: #d8d8d8;
$secondary-dark: #4d4d4d;
$success: #009639;
$highlight-data: #009639;
$border-light: #eee;
$light-box-bg: #f6f6f6;
$dark-box-bg: #c6c6c6;
$section-title: #4c5459;
$health-icon: #7e7e7e;

// Border 

$smooth-border: 4px;
$smooth-radius: 4px;

//Space in px
$space-xs: 2px;
$space-sm: 5px;
$space-md: 10px;
$space-lg: 15px;
$space-xl: 20px;
$space-xxl: 30px;
$space-big: 45px;
$space-bigger: 50px;
$space-xxxl: 80px;
$space-extra: 100px;
$padding-header: 80px;
$logo-margin-sm: 50px;

//Icon heights

$icon-height-sm: 15px;
$icon-height-md: 20px;
$icon-height: 25px;
$icon-height-lg : 30px;

//Fonts

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

//Font size

$font-standard: 16px;
$size-h2: 28px;
$size-h3: 22px;
$size-h4: 20px;
$font-xxl: 32px;
$font-lg: 22px;
$font-md: 18px;
$font-sm: 14px;

//Font-weight

$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 900;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
