// Container width (from bootstrap)

$xs-width:290px;
$sm-width:546px;
$md-width:738px;
$lg-width:962px;
$xl-width:1170px;

// Colors

$primary: #ff6900;
$secondary-light: #d8d8d8;
$secondary-dark: #4d4d4d;
$success: #009639;
$border-light: #eee;
$light-box-bg: #f6f6f6;

// Border 

$smooth-border: 4px;

//Space in px
$space-xs: 2px;
$space-sm: 5px;
$space-md: 10px;
$space-lg: 15px;
$space-xl: 20px;
$space-xxl: 30px;
$space-big: 45px;
$padding-header: 80px;
$logo-margin-sm: 50px;

//Icon heights

$icon-height-sm: 15px;
$icon-height-md: 20px;
$icon-height: 25px;
$icon-height-lg : 30px;

//Fonts

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$font-standard: 16px;
$size-nav-btn: 18px;
$size-h3: 22px;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
