.button {
    border: none;
    background: transparent;
    margin: 0;
    border-radius: $smooth-border;
    padding: 0;

    &:focus {
        outline: none;
    }

    &--success {
        color: white;
        background: $success;
        padding: $space-sm $space-md;
    }
}
