.button {
    border: none;
    background: transparent;
    margin: 0;
    border-radius: $smooth-border;
    padding: 0;

    &--success {
        padding: $space-sm $space-md;
        color: white;
        background: $success;
        
        &-invert {
            border: 1px solid $success;
            color: $success;
            background: white;
        }   
    }
}
