/**
 * Utilities
 *
 * weight: -5
 *
 * Styleguide Base - Utilities
 */

/**
 * Hidden element
 *
 * markup:
 * <p class="u-hidden">…</p>
 *
 * weight: -10
 *
 * Styleguide Base - Utilities - Hidden element
 */
@mixin flex ($justify, $align, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin size ($size) {
    width: $size;
    height: $size;
}

.u-hidden {
    display: none;
}

.v-hide {
    visibility: hidden;
}
